/*
    Landing Page
*/

.jumbotron {
    background-image: url(./banner.png);
    background-size: cover;
}

/*
    Catalogue Page
*/

textarea#selected {
    cursor: not-allowed;
    resize: none;
}

/*
    Display Page
*/
#bg, .carousel, .carousel-item{
    position: fixed;
    top: 0; 
    left: 0; 
    
    /* Preserve aspect ratio */
    min-width: 100%;
    min-height: 100%; 
}

.main-title{
	font-size: 4em;
	line-height: 1.5em;
	position: relative;
    left: -50%;    
    background-color: rgba(255, 255, 255, .5);
    margin:auto;
    width: 75%;
    text-align: center;
}

.title-wrapper {
	position: absolute;
	top: 20%;
	left: 50%;
	width: 100%
}
.title{
	font-size: 4em;
	position: relative;
    left: -50%;
    background-color: rgba(255, 255, 255, .5);
    margin:auto;
    width: 75%;
    text-align: center;
}

.main-title-wrapper, .lyrics-wrapper {
	position: absolute;
	top: 40%;
	left: 50%;
	width: 100%
}
.lyrics{
	font-size: 3em;
	line-height: 1.5em;
	position: relative;
    left: -50%;    
    background-color: rgba(255, 255, 255, .5);
    margin:auto;
    width: 75%;
    text-align: center;
}

.subtitle-wrapper {
	position: absolute;
	top: 65%;
	left: 50%;
	width: 100%
}

.subtitle{
	font-size: 2em;
	position: relative;
    left: -50%;
    background-color: rgba(255, 255, 255, .5);
    margin:auto;
    width: 75%;
    text-align: center;
}

a:hover {
    text-decoration: none !important;
}