{# Sub-template for displaying slides #}

<tr>
    <td>{{ song.title}}</td>
    <td>
		{{ song.lyrics.split("\n\n")[0] }}
    </td>
    <td class="text-center">
    	<a href="#" class="select" id="{{song.id}}" name="《{{song.title}}》">
          <span class="icon glyphicon glyphicon-plus" id="{{song.id}}"></span>
        </a>
        <a href="https://www.youtube.com/results?search_query={{song.title}}" target="_blank">
          <span class="glyphicon glyphicon-music"></span>
        </a>
    </td>
</tr>