{% extends "base.html" %}

{% block navbar %}
{% endblock %}

{% block app_content %}
	<div id="carousel" class="carousel" data-interval="false">
		<div class="carousel-inner">
			<div class="item active">
		        <img src="{{ url_for('static', filename='background.png') }}">
		        <div class="main-title-wrapper">
		        	<div class="main-title">{{ slide_title }}</div>
		        </div>
		        <div class="subtitle-wrapper">
		        <div class="subtitle">{{ subtitle }}</div>
		        </div>
			</div>
			{% for slide in slides %}
				{% include '_slide.html' %}
			{% endfor %}
		</div>
		<a class="left carousel-control" href="#carousel" role="button" data-slide="prev" {#style="background:none !important"#}>
			<span class="glyphicon glyphicon-chevron-left"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#carousel" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
			<span class="sr-only">Next</span>

		</a>
	</div>
{% endblock %}

{% block scripts %}
{{ super() }}
	<script>
		var myCarousel = $(".carousel");
		myCarousel.append("<ol class='carousel-indicators'></ol>");
		var indicators = $(".carousel-indicators"); 
		myCarousel.find(".carousel-inner").children(".item").each(function(index) {
		    (index === 0) ? 
		    indicators.append("<li data-target='#carousel' data-slide-to='"+index+"' class='active'></li>") : 
		    indicators.append("<li data-target='#carousel' data-slide-to='"+index+"'></li>");
		});
	</script>
{% endblock %}
