{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class='container'>
        <br>
        <div class="well">THIS IS A TEMPORARY PAGE until the song listing is constructed</div>
        <h1>Edit Songs</h1>
        <form action="{{ url_for('edit_song') }}", method="POST">
            {{ wtf.quick_form(form) }}
        </form>
        <hr>
        <table id="all_songs" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Song</th>
                    <th>Lyrics (First Slide)</th>
                    <th>Edit</th>
                    <th>Lyrics (Rest)</th>
                </tr>
            </thead>
            <tbody>
                {% for song in songs %}
                    <tr>
                        <td>{{ song.title}}</td>
                        <td>
                            {{ song.lyrics.split("\n\n")[0] }}
                        </td>
                        <td class="text-center">
                            <a href="#" class="select" id="{{song.id}}" name="{{song.title}}" lyrics="{{song.lyrics}}" link="{{song.link}}">
                              <span class="icon glyphicon glyphicon-plus" id="{{song.id}}"></span>
                            </a>
                        </td>
                        <td>
                            {{ song.lyrics.split("\n\n")[1:] or ""}}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script>
    var chosenSongId = []
    var chosenSongTitles = []

        $('#all_songs').dataTable( {
        "columnDefs": [
            {
                "targets": [ 2 ],
                "orderable": false,
                "searchable": false
            },
            {
                "targets": [ 3 ],
                "visible": false
            }
        ]
    } );

    $(document).ready( function () {
        $('#all_songs').DataTable();
        $('#ids').val("");
        $('#title').val("");
    } );
    
    // Add/Remove songs
    $('#all_songs').on('click', '.select', ( 
        function(e) {
            $('#ids').val($(this).attr('id'));
            $('#title').val($(this).attr('name'));
            $('#lyrics').val($(this).attr('lyrics'));
            $('#link').val($(this).attr('link'));
            e.preventDefault();
        })
    );
</script>
{% endblock %}

{% block styles%}
{{ super() }}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
{% endblock %}